.active {
  color: blueviolet;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 10rem;
}

main h2 {
  font-size: 3rem;
  margin-bottom: 4.8rem;
}

nav {
  width: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #ccc;
}
nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #ccc;
  border-bottom: 0.3rem solid transparent;
}
nav a:active {
  color: #000;
  border-color: #688984;
}

form input {
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  width: 45rem;
  margin: 4rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}
form button {
  border: none;
  border-radius: 0.3rem;
  margin-left: 2.4rem;
  padding: 0.8rem 2.8rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: rgb(87, 216, 173);
}

label {
  font-size: 1rem;
  letter-spacing: 0.06rem;
  color: #3a3845;
  font-weight: bold;
}
ul li {
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 50rem;
  min-height: 6rem;
  border-bottom: 0.1rem solid #ccc;
}
ul li:first-child {
  border-top: 0.1rem solid #ccc;
}
ul li:hover {
  background-color: #fef2f2;
}
ul li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #d14d72;
}
ul li button {
  border: none;
  margin-left: 2.4rem;
  padding: 0.6rem 1rem;
  width: 7rem;
  font-weight: bold;
  cursor: pointer;
  justify-self: center;
  color: #fff9f9;
  background-color: #d14d72;
}
